@font-face {
    font-family: 'Work Sans';
    src: url('./assets/WorkSans-VariableFont_wght.ttf');
}

:root {
    --light-blue: #4ba6cf;
    --dark-blue: #0c4a6e;
    --orange: #ecb347;
    --search-background-color: #06263b;
    --faded-white: rgba(255, 255, 255, 0.603);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, var(--light-blue), var(--dark-blue));
    color: white;
    display: grid;
    grid-template-rows: 0.5fr 5fr 5fr 0.5fr;
    row-gap: 2rem;
}

header {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
}

.title-end {
    color: var(--orange);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.search-form {
    display: flex;
    align-items: center;
    width: 25rem;
    position: relative;
    transform: translateY(4px);
    margin-right: 55px;
}

#search-bar {
    border-radius: 20px;
    border: none;
    width: 100%;
    height: 2.5rem;
    background-color: var(--search-background-color);
    padding: 0 0.8rem;
    color: white;
    font-size: 1rem;
}

#search-bar::placeholder {
    color: white;
}

.search-button {
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 1;
    height: 1.5rem;
    left: 88%;
    cursor: pointer;
}

.change-degrees {
    width: 20rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

.btn {
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
}

.fahrenheit-btn,
.celsius-btn {
    height: 2rem;
    width: 4rem;
    border-radius: 20px;
    background-color: var(--search-background-color);
    font-size: 1rem;
    transition: border 60ms ease-in;
}

.fahrenheit-btn:hover,
.celsius-btn:hover,
.daily-weather-btn:hover,
.hourly-weather-btn:hover,
.active {
    border: 2px solid white;
}

.current-day-information {
    justify-self: center;
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 2fr;
    width: 43rem;
    height: 30rem;
}

.location-details {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center;
    padding: 1rem;
}

.city-details {
    font-size: 2.5rem;
}

.day-details {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: var(--faded-white);
    font-weight: 500;
}

.time-details {
    border-left: 2px solid var(--faded-white);
    padding-left: 7px;
    margin-left: 7px;
}

.current-temp-details {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0;
}

.temp-details {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 0.3rem;
}

.temp-details>img {
    height: 6rem;
    width: 6rem;
}

.temp-description {
    font-size: 1.7rem;
    font-weight: 400;
}

.feels-like,
.general-description {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--faded-white);
}

.extra-information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0.5rem;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.extra-information>div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.wind-information {
    display: flex;
    align-items: center;
    gap: 5px;
}

.wind-direction {
    height: 1.7rem;
}

.extra-information h5,
.extra-information p {
    font-weight: 600;
}

.extra-information h5 {
    font-size: 1.2rem;
    color: var(--faded-white);
}

.extra-information p {
    font-size: 1.5rem;
}

.safe,
.amber,
.danger {
    border-radius: 999px;
    width: 40%;
    margin: 0 auto;
}

.safe {
    background-color: rgb(51, 192, 51);
}

.amber {
    background-color: orange;
}

.danger {
    background-color: rgb(192, 0, 0);
}

.carousel-buttons {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.daily-hourly-weather-carousel {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.daily-weather-btn,
.hourly-weather-btn {
    background-color: var(--search-background-color);
    height: 2.5rem;
    width: 5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.slide-buttons {
    height: 100%;
    width: 6rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-left,
.move-right {
    background-color: transparent;
}

.dots {
    display: flex;
    gap: 0.5rem;
    transform: translateX(-3px);
}

.dot {
    border-radius: 999px;
    background-color: var(--search-background-color);
    height: 8px;
    width: 8px;
}

.dot.active {
    background-color: white;
}

.material-symbols-outlined {
    color: white;
    display: flex;
    justify-content: center;
}

.daily-weather-container {
    display: flex;
    gap: 1.2rem;
}

.daily-weather {
    padding: 1rem;
    width: 100%;
    height: max(300px, 50%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.day-information {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.2rem;
}

.day-of-the-week {
    font-weight: 500;
}

.date-of-the-week,
.hourly-weather>h2 {
    color: var(--faded-white);
    font-weight: 400;
}

.date-of-the-week {
    border-left: 1px solid var(--faded-white);
    padding-left: 10px;
}

.day-weather-details {
    font-size: 2rem;
    font-weight: bold;
}

.min-temp {
    font-size: 1.5rem;
    font-weight: 400;
}

.daily-weather>img {
    height: 8rem;
    width: 8rem;
    align-self: center;
}

.hour-container {
    display: flex;
    margin: 0 auto;
}

.hourly-weather {
    padding: 1rem;
    width: 100%;
    height: max(300px, 50%);
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    justify-items: center;
    align-items: center;
}

.hour-weather-description {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
}

.hour-weather-description>h3 {
    font-size: 2rem;
}

.hour-description {
    font-size: 1.1rem;
    color: var(--faded-white);
}

.hourly-weather-icon {
    height: 7rem;
    width: 7rem;
    align-self: flex-start;
}

.hide {
    display: none;
}